@import '@styles/colors.less';

.netflix-app__movie {
  display: flex;
  flex-direction: column;
  max-width: 31.9rem;
  max-height: 50.7rem;
  margin: 0 5.5rem 3.7rem 0;
  color: @color-white;

  &-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &-year-name {
    display: flex;
    justify-content: space-between;
    margin-top: 1.3rem;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.2rem;
    opacity: .7;

    :nth-child(2) {
      border: 1px solid @color-dusty-gray;
      padding: .4rem .8rem;
      border-radius: .4rem;
    }
  }

  &-genre {
    margin-top: 0.8rem;
    opacity: .5;
  }
}
